[
    {mysql, [
        {user, "userdb_test"},
        {password, "userdb_test"},
        {host, "localhost"},
        {database, "userdb_test"},
        {connect_mode, lazy},
        {keep_alive, true}
    ]},
    {lager, [
        {log_root, "/tmp"},
        %% Default handlers for lager/lager_event
        {handlers, [
            {lager_console_backend, [
                {level, debug},
                {formatter, lager_default_formatter},
                {formatter_config, [date," ",time," ",severity," ",pid," [",module,":",line,"]: ",message,"\n"]}
            ]},
            {lager_file_backend, [
                {file, "error.log"},
                {level, error},
                {formatter, lager_default_formatter},
                {formatter_config, [date," ",time," ",severity," ",pid," [",module,":",line,"]: ",message,"\n"]}
            ]},
            {lager_file_backend, [
                {file, "console.log"},
                {level, info},
                {formatter, lager_default_formatter},
                {formatter_config, [date," ",time," ",severity," ",pid," [",module,":",line,"]: ",message,"\n"]}
            ]}
         ]}
    ]}
].

