{erl_opts, [
    debug_info,
    warn_export_all,
    warning_as_error,
    {i,"include"},
    {src_dirs,["src"]}
]}.
{deps, [
    {lager,  {git, "https://github.com/erlang-lager/lager.git", {tag, "3.8.0"}}},
    {async,  {git, "https://github.com/platinumthinker/async.git", {branch, "master"}}},
    {cowboy, {git, "git://github.com/ninenines/cowboy.git", {tag, "2.8.0"}}},
    {mysql,  {git, "git://github.com/mysql-otp/mysql-otp", {tag, "1.6.0"}}}
]}.
{shell, [
  % {config, "config/sys.config"},
    {apps, [userdb]}
]}.
