[
    {lager, [
        {log_root, "/tmp"},
        %% Default handlers for lager/lager_event
        {handlers, [
            {lager_console_backend, [{level, debug}]},
            {lager_file_backend, [{file, "error.log"}, {level, error}]},
            {lager_file_backend, [{file, "console.log"}, {level, info}]}
         ]}
    ]},
    {async, [
        %% default state for pause after start async
        {pause, false},
        %% interval between processed changes files
        {collect_interval, 200},
        %% include in code path for successful compile
        {include_path, "../*"},
        {exclude_path_regexp, [ "/usr/lib/erlang/lib/*" ]},
        %% optional
        {load, {cmd, "notify-send"}},
        {error, {cmd, "notify-send"}}
 ]}
].

